@charset "utf-8";
/* CSS Document */
.jumbotron {
    background-color: #99F5FD;
    color: black;
    margin-top: 30px;
}
footer {
    padding: 10px 10px 10px;
    background-color: #99F5FD;
    margin-bottom: 0px;
    margin-top: 10px;
}
.footer-adreess-icon {
	padding-right: 10px;
}